Package: com.phillipt.avsimulator2k15
Name: AVSimulator2k15
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
